/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Open Sans';
}
body {
  display: flex;
}
.container {
  width: 100%;
  display: flex;
  padding: 20px;
}
.left-sidebar {
  width: 240px;
  order: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0 20px;
}
.left-sidebar .sofia {
  margin-bottom: 40px;
}
.left-sidebar .sofia a {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}
.left-sidebar .sofia h1 {
  font-size: 2.2em;
  text-align: center;
  color: #555555;
}
.left-sidebar ul li {
  font-size: 1.7em;
  padding: 0.5em;
}
img {
  border-radius: 100%;
  width: 100px;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}
nav a {
  padding: 12px;
}
nav a i {
  color: #555555;
}
nav a i:hover {
  color: #1E90FF;
}
.container {
  height: 100%;
  width: 100%;
}
.main {
  width: calc(100vw - 260px - 100px);
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  padding: 30px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.main h2 {
  font-size: 2em;
  padding-top: 30px;
  margin: 0 0 1em 0;
}
.main h3 {
  font-size: 1.8em;
  margin: 20px 0 20px;
}
.main p {
  font-size: 1.3em;
}
.main section:not(:first-child) {
  border-top: solid 2px #efefef;
}
.right-sidebar {
  margin: 20px;
  position: fixed;
  right: 0;
  width: 60px;
  order: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
}
