// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

// variables

@thick-border: 1px solid #dedede;
@dark-grey: #555555;
@hightlight-blue: #1E90FF;
@thin-border: solid 2px #efefef;

// mixins

.bordered() {
	border-left: @thick-border;
	border-right: @thick-border;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

html {
	font-size: 62.5%;
	font-family: 'Open Sans';
}

body {
	display: flex;
}

.container {
	width: 100%;
	max-height: 100%;
	display: flex;
	padding: 20px 0;
}

.left-sidebar {
	width: 240px;
	order: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px 0 20px;
	padding: 20px;
	.sofia {
		margin-bottom: 40px;
		a {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			margin-bottom: 20px;
			img {
				border-radius: 100%;
				width: 100px;
			}
		}
		h1 {
			font-size: 2.2em;
			text-align: center;
			color: @dark-grey;
		}	
	}
	a:not(.img-link) {
		color: @dark-grey;
		text-decoration: none;
		background: transparent;
		transition: 0.3s;
		&:before {
			content: "[";
			opacity: 0;
			margin-right: 10px;
			transform: translateX(30px);
		}
		&:after {
			opacity: 0;
			margin-left: 10px;
			content: "]";
			transform: translateX(-30px);
		}
		&:before, &:after {
			display: inline-block;
			color: @hightlight-blue;
			opacity: 0;
			transition: transform .3s,opacity .2s;
		}
		&:hover:after, &:hover:before {
			opacity: 1;
			transform: translateX(0);
			}
		}	
	} 

	ul li {
		font-size: 1.7em;
		padding: .5em;
	}

.main {
	width: calc(100vw - 220px - 100px);
	.bordered;
	padding: 30px;
	overflow-y: scroll;
  	scroll-behavior: smooth;
	h2 {
		font-size: 2em;
		padding-top: 30px;
		margin: 0 0 1em 0;
	}
	h3 {
		font-size: 1.8em;
		margin: 20px 0 20px;
	}
	p {
		font-size: 1.3em;
	}
	section:not(:first-child) {
		border-top: @thin-border;
	}
}

.right-sidebar {
	margin: 0 20px 0 20px;
	width: 60px;
	order: 2;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 20px;
	nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 24px;
		a {
			padding: 12px;
			i {
				color: @dark-grey;
				&:hover {
					color: @hightlight-blue;
				}
			}
		}
		
	}
	@keyframes bounce {
		0% {
		  transform: translate(0,0);
		}
		50% {
		  transform: translate(0,10px);
		}
		100% {
		  transform: translate(0,0);
		}
	  }
	.chevron-container {
		animation: bounce 1.5s ease-in-out infinite;
		.chevron {
			display: block;
			margin: auto;
			height: 20px;
			width: 20px;
			border-bottom: 2px solid @dark-grey;
			border-left: 2px solid @dark-grey;
			transform: rotate(135deg);
			&:hover {
				border-color: @hightlight-blue;
			  }
		  }
	  }
	  &:hover {
		animation-iteration-count: 1;
		cursor: pointer;
	  }
}
  

@media (max-width: 500px) {
	.container {
		display: flex;
		flex-direction: column;
	}
	.right-sidebar {
		background-color: white;
		margin: 0;
		padding: 0 20px 0 20px;
		width: 100%;
		display: flex;
		flex-direction: row;
		order: 2;
		nav {
			display: flex;
			flex-direction: row;

		}
	}
	.left-sidebar {
		padding: 0 20px 0 20px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		order: 0;
		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			a {
				padding: 15%;
			}
		}
		.sofia {
			margin: 0;
		h1 {
			display: none;
		}
		a {
			img {
				width: 75px;
			}
		}
	}
	}
	.main {
		width: 100%;
		order: 1;
		border-left: none;
		border-right: none;
		border-top: @thick-border;
	}
}

@media (max-width: 1024px) {

}